.link{
    text-decoration: none;
    color:hsl(198, 46%, 70%);
}

.link:hover{
    color: hsl(185, 44%, 49%);
    outline: none;
    border-bottom: 1px solid;
}

.link:active{
    color:hsl(184, 83%, 30%);
}

.navigation .link{
    color:hsl(0, 25%, 85%);
    font-weight: bold;
}

.navigation .link:hover{
    color:hsl(0, 25%, 75%);
}

.navigation .link:active{
    color:hsl(0, 81%, 42%);
}

.link--CV{
    background-color: hsl(180, 100%, 25%);
    color: rgb(253, 247, 247);
    padding: 10px;
    font-size: large;
    text-decoration: none;
    display: inline-block;
    margin-right:10px;
    width:200px;
    transition: 0.5s;
}

@media(max-width:520px){
    .link--CV{
        margin-bottom: 10px;
    }
}

.link--CV:hover{
    background-color: hsl(180, 100%, 15%);
 }
 
 .link--CV:active{
     color:rgb(249, 170, 170)
 }