.navigation{
    background-color: black;
    padding:10px;
}

.navigation__list{
    list-style-type: none;
    padding-left: 15px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.navigation__listItem{
    margin: 5px 10px;
}