.navigation{
    background-color: black;
    padding:10px;
}

.navigation--bright{
    background-color: hsl(232, 92%, 7%)
}

.navigation__list{
    list-style-type: none;
    padding-left: 15px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

@media(max-width: 992px){
    .navigation__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(max-width: 576px){
    .navigation__list{
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width: 350px){
    .navigation__list{
        grid-template-columns: 1fr
    }
}

.navigation__listItem{
    margin: 5px 10px;
}